// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.nonClickableCheckbox {
    pointer-events: none;
}

.questionMarkContainer {
    margin-left: 4px;
    margin-bottom: 20px;
}

.tripleInputContainer {
    display: flex;
    width: 100%;

    > * {
        flex: 1 0 30%;
        &:not(:first-child) {
            margin-left: 12px;
        }
    }
}
